<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/rentdynamics/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="%RD_NUGET_USER%" />
            <add key="ClearTextPassword" value="%RD_NUGET_PASSWORD%" />
        </github>
    </packageSourceCredentials>
</configuration>